<div >
    <form >
      <div class="form-group">
        <label for="projectName">Project Name:</label>
        <input type="text" class="form-control" id="projectName" placeholder="Enter Project Name" name="projectName">
      </div>
      <div class="form-group">
          <label for="recordType">RecordType:</label>
          <input type="text" class="form-control" id="recordType" placeholder="Enter RecordType" name="recordType">
        </div>
      <div class="form-group">
          <label for="version">Version:</label>
          <input type="email" class="form-control" id="version" placeholder="Enter Version" name="version">
        </div>

      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>