<div class="container">
    <div class="table-responsive">       
    <table class="table" >
      <thead>
        <tr>
          <th>Project Name</th>
          <th>Record Type</th>
          <th>Version</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Atlanta Research</td>
          <td>RecordType1</td>
          <td>11.0</td>
        </tr>
        <tr>
          <td>NewOrlean Desert Project</td>
          <td>RecordType2</td>
          <td>12.0</td>
        </tr>
        <tr>
          <td>Monsoon Survey</td>
          <td>RecordType3</td>
          <td>3.0</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>