<div>
    <div style="text-align:center">
      <h1>
        Super Admin Dashboard
      </h1>
    </div>
  
  </div>
  
  
  <div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3">
  
            <div class="panel-group" id="accordion">
                 <!-- Manage Users-->  
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-user" >
                            </span>Manage Users</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span ></span>
                                        <a routerLink="/add-user" > Add User</a>
                                    </td>
                                </tr>
                                <tr>
                                  <td>
                                    <span ></span>
                                    <a routerLink="/view-users" > View Users</a>
                                </td>
                              </tr>
                            </table>
                        </div>
                    </div>
                </div>
  
                 <!-- Manage Projects-->  
                 <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-book" >
                            </span>Manage Projects</a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span ></span>
                                        <a routerLink="/add-project" > Add Project</a>
                                    </td>
                                </tr>
                                <tr>
                                  <td>
                                    <span ></span>
                                    <a routerLink="/view-projects" > View Projects</a>
                                </td>
                              </tr>
                              <tr>
                                  <td>
                                    <span ></span>
                                    <a routerLink="/add-column" > Add Column Header</a>
                                </td>
                              </tr>
  
                              <tr>
                                  <td>
                                    <span ></span>
                                    <a routerLink="/view-columns" > View Column Headers</a>
                                </td>
                              </tr>
  
                              <tr>
                                  <td>
                                    <span ></span>
                                    <a routerLink="/set-validations" > Set Column Validations</a>
                                </td>
                              </tr>
                              
                              <tr>
                                  <td>
                                    <span ></span>
                                    <a routerLink="/add-dgs" > Add DGS FolderName</a>
                                </td>
                              </tr>
                              <tr>
                                  <td>
                                    <span ></span>
                                    <a routerLink="/view-all-dgs" > View DGS FolderName</a>
                                </td>
                              </tr>
  
                            </table>
                        </div>
                    </div>
                </div>
  
                 <!-- Manage Dictionary-->  
                 <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-folder-open" >
                            </span>Manage Dictionary</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span ></span>
                                        <a routerLink="/" > Upload Dictionary</a>
                                    </td>
                                </tr>
                                <tr>
                                  <td>
                                    <span ></span>
                                    <a routerLink="/" > View Dictionary</a>
                                </td>
                              </tr>
                            </table>
                        </div>
                    </div>
                </div>
  
                   <!-- Manage Months-->  
                   <div class="panel panel-default">
                          <div class="panel-heading">
                              <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour2"><span class="glyphicon glyphicon-folder-open" >
                                  </span>Manage Months</a>
                              </h4>
                          </div>
                          <div id="collapseFour2" class="panel-collapse collapse">
                              <div class="panel-body">
                                  <table class="table">
                                      <tr>
                                          <td>
                                              <span ></span>
                                              <a routerLink="/" > Add Months By Language</a>
                                          </td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <span ></span>
                                          <a routerLink="/" > View Months By Language</a>
                                      </td>
                                    </tr>
                                  </table>
                              </div>
                          </div>
                      </div>
  
  
                      <!-- Monitor DGS Status-->  
                      <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive"><span class="glyphicon glyphicon-folder-open" >
                                    </span>Monitor DGS </a>
                                </h4>
                            </div>
                            <div id="collapseFive" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <table class="table">
                                        <tr>
                                            <td>
                                                <span ></span>
                                                <a routerLink="/" > Monitor DGS Status</a>
                                            </td>
                                        </tr>
                    
                                    </table>
                                </div>
                            </div>
                        </div>                    
  
            </div>
    
        </div>
        <div class="col-sm-1 col-md-9">
          <div class="col-sm-1 col-md-9 panel panel-default" >                                     
          </div>
          <div class="col-sm-1 col-md-9" >                        
              <div class="panel-body">
                  <router-outlet></router-outlet>              
              </div>               
          </div>
      </div>
    </div>
  </div>